# payload
PAYLOAD_SECRET=YOUR_SECRET_HERE
S3_BUCKET=payload-media

# minio
MINIO_ROOT_USER=minioadmin⁠
MINIO_ROOT_PASSWORD=minioadmin⁠

# meilisearch
MEILI_MASTER_KEY=masterKey123

# mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

# mongo express
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin

# dify
DIFY_API_KEY=
DIFY_DATASET_ID=
DIFY_API_URL=